.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-container {
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.image-container img {
  max-width: 100%;
  object-fit: cover; /* Not cropping, instead trying to make it fit properly in box*/
}

@media screen and (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}
